*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
   
 
}   


.overlay {
    height: 80%;
    width: 60%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    color: #333;
    text-align: left;
}

.overlay h2 {
    font-size: 1.2rem;
    color: #444;
    margin-bottom: 20px;
}

.overlay ul {
    list-style-type: disc;
    margin-left: 20px;
}

.overlay ul li {
    margin-bottom: 15px;
    font-size: 0.9rem;
}

.overlay p {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #666;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    color: #999;
    cursor: pointer;
}

.close-btn:hover {
    color: #666;
}

.hidden {
    display: none;
}
.msg-hidden{
    visibility: hidden;
}
.massages{
    height: 100vh;
    width: 100%;
    /* background: ; */
backdrop-filter: blur(2px);
    color: #666;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 96;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.massages .msgtxt{
    width: 15vw;
    height: 7vh;
    background: #6fc0c3;
    box-shadow: 0 4px 4px rgb(57, 70, 68);
    text-align: center;
    align-content: center;
    border-radius: 20px;

}
.massages .msgtxt h1{
    font-size: 1rem;
}
nav{
    height: 8vh;
    width: 100%;
    text-align: center;
    align-content: center;
    background: #2980B9;
    color: #ECF0F1;
}
nav h1{
    font-size: 1rem;
}
main{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
flex-direction: column;
}
.gameDisplay{
    display: grid;
    grid-template-columns: repeat(4, 6vw);
    grid-template-rows: repeat(4, 6vw);
    gap: 4vh;
    perspective: 800px;

}
.card{
    position: relative;
    transform-style: preserve-3d;
    transition: all 2s ease;
    box-shadow: 0 4px 6px #1F618D;

}
.toggleCard{
    transform: rotateY(180deg);

}
.face, .back{
    height: 100%;
    width: 100%;
  pointer-events: none;
    position: absolute;

}
.back{
    background: #7F8C8D;
    backface-visibility: hidden;
}
.life-count{
    width: 60%;
    height: 10vh;
    margin-top: 6vh;
    border-radius: 20px;
    background: #2980B9;
    display: flex;
    color: #e3edf0;
    align-items: center;
    justify-content: space-evenly;
    
}
.life-count h2{
    font-size: 1.2rem;
    color: #e3edf0;
}
span{
    border-bottom:  1px solid crimson;
    font-size: 1.2rem;
    
}
.life-count button
{
    height: 4.5vh;
    width:5vw;
    outline: 0;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: all .6s ease;
    font-size: 1rem;
    

}
.btn-color{
    background: #b1c1c2;
    color: #3f4243;

}

.life-count button:hover{
    transform: scale(1.1);
  box-shadow: 0 0 2px rgb(106, 243, 147);

}
.glow {
     color: #333000;
     background-color: #eeefff;
     animation: glow 2s ease infinite; 
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px goldenrod;
    }
    50% {
        box-shadow: 0 0 20px goldenrod;
    }
    100% {
        box-shadow: 0 0 5px goldenrod;
    }
}

@media (max-width:800px) {
  
.overlay h2 {
    font-size: 1rem;
   
}


.overlay ul li {
 
    font-size: 0.8rem;
}

.overlay p {
    font-size: 0.8rem;
}
}
@media (max-width:680px) {
  
.overlay h2 {
    font-size: 0.9rem;
   
}


.overlay ul li {
 
    font-size: 0.7rem;
}

.overlay p {
    font-size: 0.7rem;
}
}
@media (max-width:550px) {
    .overlay {
        height: 80%;
        width: 80%;
    }
     
.overlay h2 {
    font-size: 0.8rem;
   
}


.overlay ul li {
 
    font-size: 0.6rem;
}

.overlay p {
    font-size: 0.6rem;
}
}

@media (max-width:390px) {
    .overlay {
        height: 80%;
        width: 80%;
    }
     
.overlay h2 {
    font-size: 0.8rem;
   
}


.overlay ul li {
 
    font-size: 0.6rem;
}

.overlay p {
    font-size: 0.6rem;
}

}